@page "/longterm/pendinglist"
@using Microsoft.EntityFrameworkCore;
@using Und_System.Context
@using Und_System.Data
@using System.Globalization
@inject CGLInsuredService CGLInsuredService
@inject CGLPolicyHolderServices CGLPolicyHolderServices
@inject StateService StateService


<h1><b>PENDING APPLICATIONS</b></h1>
<hr />
<div class="container my-4 p-4 rounded" style="background-color:#FFFFFF; max-width:100%; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
	<h3 class="text-center fw-bold text-decoration-underline">LONG TERM</h3>
	<h4 class="text-center fw-bold mb-0">Bank: @StateService.SelectedBankName</h4>
	<div class="card-body">
		<div class="row justify-content-evenly">
			<div class="col-md-8 mb-3">
				<input type="text" class="form-control" placeholder="Search..." id="searchbar" @* @bind="searchText" @bind:event="oninput" *@ />
			</div>
			<div class="col-md-4 mb-3 d-flex align-items-center">
				<label for="yearDropdown" class="me-2 fw-bold" style="white-space: nowrap; min-width: 120px;">Filter by Year:</label>
				<select class="form-control flex-grow-1" id="yearDropdown" @bind="selectedYear" @bind:event="onchange">
					<option value="">Select Year</option>
					@foreach (var year in years)
					{
						<option value="@year">@year</option>
					}
				</select>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="text-white" style="background-color: #5d835c;">
					<tr>
						<th class="text-center">Release Date</th>
						<th class="text-center">Total Applications</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>

@code {
	private int? selectedYear;
	private List<int> years = new List<int>();

	protected override void OnInitialized()
	{
		int currentYear = DateTime.Now.Year;
		years = Enumerable.Range(2000, currentYear - 2000 + 11).ToList();
	}
}

