@page "/banklisting" 
@using Und_System.Context;
@using Und_System.Data;
@using Und_System.Services;
@inject NavigationManager NavigationManager
@inject CGLPolicyHolderServices CGLPolicyHolderServices
@inject StateService StateService

<style>
	.m_title::first-letter {
	text-transform: uppercase;
	}
</style>
<h1><b>Bank List</b></h1>
<hr />

<div class="background-overlay"></div>
<div class="container mt-4 p-4 rounded" style="background-color:#FFFFFF; max-width:100%; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
	<h5 class="text-muted bankinst mb-0" id="banklistinstructions">Please select a bank from the list of assigned banks to your account below to proceed:</h5>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table">
				<thead class="text-white" style="background-color: #5d835c;">
					<tr>
						<th class="text-center">Master PolNo. </th>
						<th class="text-center">Bank Name</th>
						<th class="text-center">Bank Address</th>
					</tr>
				</thead>
				<tbody>
					@if (banks != null && banks.Count > 0) {
						@foreach (var bank in banks)
						{
							<tr class="hover-cell" @onclick="() => SelectBank(bank)">
								<td class="text-center" style="vertical-align:middle;font-weight:400;">@bank.Master_Polno</td>
								<td class="text-center">
									<div>@bank.Policy_Holder_Name</div>
									<span class="text-muted " style="font-size: smaller;font-weight:400;">@bank.Bank_Level</span>
								</td>
								<td class="text-center m_title" style="vertical-align:middle;font-weight:400;">@bank.Bank_Address</td>
							</tr>
						}

					}
				</tbody>
			</table>
		</div>
	</div>
</div>



@code {
	private List<CGLPolicyHolder> banks = new List<CGLPolicyHolder>();

	protected override async Task OnInitializedAsync()
	{
		banks = await CGLPolicyHolderServices.GetBanksAsync();
	}

    private async Task SelectBank(CGLPolicyHolder bank)
    {
        await StateService.SetSelectedBank(bank.ID_Policy_Holder, bank.Policy_Holder_Name);
        NavigationManager.NavigateTo("/cgldashboard");
    }
}