@page "/lineofbusiness2"
@inject NavigationManager NavigationManager

<style>
    .lob-container {
        height: 75vh;
    }

    .background-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    #aspbtn, #cglbtn, #gyrtpbtn, #mrpbtn, #spbtn, #dpbtn{
        font-size:24px;
    }
</style>

<div class="lob-container">
    <div class="row">
        <div class="col-md-6 d-md-block">
            <img src="/assets/countrybankers.png" alt="Line of Business" class="w-100" style="height:33rem;"/>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-column justify-content-center">
                <h1 class="text-center mt-5 mb-4"><b>LINE OF BUSINESS</b></h1>
                <button class="btn btn-outline-secondary mb-2 w-100" id="aspbtn" disabled>Alalay Sa Buhay Plan</button>
                <button class="btn btn-outline-secondary mb-2 w-100" id="cglbtn" @onclick="NavigateToBankListing">Credit Group Life Plans</button>
                <button class="btn btn-outline-secondary mb-2 w-100" id="gyrtpbtn" disabled>Group Yearly Renewable Term Plans</button>
                <button class="btn btn-outline-secondary mb-2 w-100" id="mrpbtn" disabled>Mortgage Redemption Plans</button>
                <button class="btn btn-outline-secondary mb-2 w-100" id="spbtn" disabled>Standard Plans</button>
                <button class="btn btn-outline-secondary mb-2 w-100" id="dpbtn" disabled>DECS Plans</button>
            </div>
        </div>
    </div>
</div>

@code {
    private void NavigateToBankListing()
    {
        NavigationManager.NavigateTo("/banklisting");
    }
}