@page "/lineofbusiness"
@inject NavigationManager NavigationManager

<h1 class="text-center"><b>LINE OF BUSINESS</b></h1>

<div class="background-overlay"></div>
<div class="lob-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <button class="btn btn-outline-secondary mb-2 w-100" id="aspbtn" disabled>Alalay Sa Buhay Plan</button>
            <button class="btn btn-outline-secondary mb-2 w-100" id="cglbtn" @onclick="NavigateToBankListing">Credit Group Life Plans</button>
            <button class="btn btn-outline-secondary mb-2 w-100" id="gyrtpbtn" disabled>Group Yearly Renewable Term Plans</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-outline-secondary mb-2 w-100" id="mrpbtn" disabled>Mortgage Redemption Plans</button>
            <button class="btn btn-outline-secondary mb-2 w-100" id="spbtn" disabled>Standard Plans</button>
            <button class="btn btn-outline-secondary mb-2 w-100" id="dpbtn" disabled>DECS Plans</button>
        </div>
    </div>
</div>

@code {
    private void NavigateToBankListing()
    {
        NavigationManager.NavigateTo("/banklisting");
    }
}
