@page "/lineofbusiness2"
@inject NavigationManager NavigationManager

<style>
	.lob-container {
		height: 75vh;
	}

	#aspbtn, #cglbtn, #gyrtpbtn, #mrpbtn, #spbtn, #dpbtn {
		font-size: 24px;
	}

	.card-title {
		font-size: 14px;
		font-weight: 700;
	}
</style>
<h1 class="text-center">
	<b>LINE OF BUSINESS</b>
	<span class="text-info ms-1" title="Line of Business are the products CBLIC currently offers." style="cursor: pointer;">
		<i class="fas fa-info-circle"></i>
	</span>
</h1>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="card h-100">
				<img class="card-img-top" src="/assets/cblicc.jpg" alt="placeholder">
				<div class="card-body">
					<h5 class="card-title">Alalay Sa Buhay Plan</h5>
					<h6 class="card-subtitle text-muted">ASB</h6>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="card h-100" @onclick="NavigateToBankListing">
				<img class="card-img-top" src="/assets/cblicc.jpg" @onclick="NavigateToBankListing" alt="placeholder">
				<div class="card-body">
					<h5 class="card-title">Credit Group Life Plans</h5>
					<h6 class="card-subtitle text-muted">CGL</h6>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="card h-100">
				<img class="card-img-top" src="/assets/cblicc.jpg" alt="placeholder">
				<div class="card-body">
					<h5 class="card-title">Group Yearly Renewable Term Plans</h5>
					<h6 class="card-subtitle text-muted">GYRT</h6>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="card h-100">
				<img class="card-img-top" src="/assets/cblicc.jpg" alt="placeholder">
				<div class="card-body">
					<h5 class="card-title">Mortgage Redemption Insurance Plans</h5>
					<h6 class="card-subtitle text-muted">MRI</h6>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="card h-100">
				<img class="card-img-top" src="/assets/cblicc.jpg" alt="placeholder">
				<div class="card-body">
					<h5 class="card-title">Standard Plans</h5>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="card h-100">
				<img class="card-img-top" src="/assets/cblicc.jpg" alt="placeholder">
				<div class="card-body">
					<h5 class="card-title">DECS Plans</h5>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="background-overlay"></div>
		<div class=" col-lg-12 d-lg-block">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-3">
					<div class="card h-100">
						<img class="card-img-top" src="/assets/cblicc.jpg" alt="placeholder">
						<div class="card-body">
							<h5 class="card-title">Alalay Sa Buhay Plan</h5>
							<h6 class="card-subtitle text-muted">ASB</h6>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card h-100" @onclick="NavigateToBankListing">
						<img class="card-img-top" src="/assets/cblicc.jpg" @onclick="NavigateToBankListing" alt="placeholder">
						<div class="card-body">
							<h5 class="card-title">Credit Group Life Plans</h5>
							<h6 class="card-subtitle text-muted">CGL</h6>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card h-100">
						<img class="card-img-top" src="/assets/cblicc.jpg" alt="placeholder">
						<div class="card-body">
							<h5 class="card-title">Group Yearly Renewable Term Plans</h5>
							<h6 class="card-subtitle text-muted">GYRT</h6>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center mt-4 mb-4">
				<div class="col-md-3">
					<div class="card h-100">
						<img class="card-img-top" src="/assets/cblicc.jpg" alt="placeholder">
						<div class="card-body">
							<h5 class="card-title">Mortgage Redemption Insurance Plans</h5>
							<h6 class="card-subtitle text-muted">MRI</h6>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card h-100">
						<img class="card-img-top" src="/assets/cblicc.jpg" alt="placeholder">
						<div class="card-body">
							<h5 class="card-title">Standard Plans</h5>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card h-100">
						<img class="card-img-top" src="/assets/cblicc.jpg" alt="placeholder">
						<div class="card-body">
							<h5 class="card-title">DECS Plans</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


@* <div class="container" style="align-content:center;">
<div class="row justify-content-center">
	<div class="col-md-3">
		<div class="card mb-4" Style="width:18rem;">
			<img class="rounded-top" src="/assets/cblicc.jpg" alt="placeholder" />
			<div class="card-body">
					<div class="card-title">Alalay Sa Buhay Plan</div>
					<div class="card-subtitle text-muted">ASB</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
			<div class="card mb-4" @onclick="NavigateToBankListing" Style="width:18rem;">
				<img class="rounded-top" @onclick="NavigateToBankListing" src="/assets/cblicc.jpg" alt="placeholder" />
			<div class="card-body">
					<div class="card-title">Credit Group Life Plans</div>
					<div class="card-subtitle text-muted">CGL</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="card mb-4" Style="width:18rem;">
			<img class="rounded-top" src="/assets/cblicc.jpg" alt="placeholder" />
			<div class="card-body">
					<div class="card-title">Group Yearly Renewable Term Plans</div>
					<div class="card-subtitle text-muted">GYRT</div>
			</div>
		</div>
	</div>
</div>

	<div class="row justify-content-center">
	<div class="col-md-3">
		<div class="card mb-4" Style="width:18rem;">
			<img class="rounded-top" src="/assets/cblicc.jpg" alt="placeholder" />
			<div class="card-body">
					<div class="card-title">Mortgage Redemption Insurance Plans</div>
					<div class="card-subtitle text-muted">MRI</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="card mb-4" Style="width:18rem;">
			<img class="rounded-top" src="/assets/cblicc.jpg" alt="placeholder" />
			<div class="card-body">
					<div class="card-title">Standard Plans</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="card mb-4" Style="width:18rem;">
			<img class="rounded-top" src="/assets/cblicc.jpg" alt="placeholder" />
			<div class="card-body">
					<div class="card-title">DECS Plans</div>
			</div>
		</div>
	</div>
</div>
</div> *@

@* <div class="lob-container">
	<div class="row">
        <div class="col-md-6 d-md-block">
            <img src="/assets/countrybankers.png" alt="Line of Business" class="w-100" style="height:33rem;"/>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-column justify-content-center">
                <h1 class="text-center mt-5 mb-4"><b>LINE OF BUSINESS</b></h1>
                <button class="btn btn-outline-secondary mb-2 w-100" id="aspbtn" disabled>Alalay Sa Buhay Plan</button>
                <button class="btn btn-outline-secondary mb-2 w-100" id="cglbtn" @onclick="NavigateToBankListing">Credit Group Life Plans</button>
                <button class="btn btn-outline-secondary mb-2 w-100" id="gyrtpbtn" disabled>Group Yearly Renewable Term Plans</button>
                <button class="btn btn-outline-secondary mb-2 w-100" id="mrpbtn" disabled>Mortgage Redemption Plans</button>
                <button class="btn btn-outline-secondary mb-2 w-100" id="spbtn" disabled>Standard Plans</button>
                <button class="btn btn-outline-secondary mb-2 w-100" id="dpbtn" disabled>DECS Plans</button>
            </div>
        </div>
    </div>
 </div> *@

@code {
	private void NavigateToBankListing()
	{
		NavigationManager.NavigateTo("/banklisting");
	}
}