@page "/Landing"
<style>
	body{
		background-color: #9ec2a2!important;
	}

	.cbig-container {
		position: relative;
	}

	.imgtxt-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 35px;
	}

	img {
		width: 100%;
		height: auto;
		opacity: 0.2;
	}
</style>
<div class="cbig-container">
	<img src="assets/cbigwbg.png" alt="Line of Business" class="img" />
</div>

@code {

}
