@page "/search"
@using Microsoft.EntityFrameworkCore;
@using Und_System.Context;
@using Und_System.Data;
@using Und_System.Services;
@inject ApplicationDbContext _context
@inject NavigationManager NavigationManager
@inject CGLInsuredService CGLInsuredService
@inject CGLParticularsService CGLParticularsService
@inject CGLPolicyHolderServices CGLPolicyHolderServices
@inject StateService StateService
@inject CGLCreditDebitServices CGLCreditDebitServices
@inject CGLCoverageService CGLCoverageService
@inject CGLSubstandardRatingService CGLSubstandardRatingService
@inject CGLUndStatusService CGLUndStatusService
@inject CGLHealthQuestionsService CGLHealthQuestionsService
@inject CGLHealthAnswerService CGLHealthAnswerService
@inject CGLBeneficiaryService CGLBeneficiaryService
@inject IJSRuntime JS

<h1><b>SEARCH APPLICATIONS</b></h1>
<hr />
<diiv>
	<div class="container my-4 p-4 rounded" style="background-color:#FFFFFF; max-width:100%; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
		<h4 class="text-center fw-bold mb-0">Bank: @StateService.SelectedBankName</h4>
		<div class="card-body">
			<div class="col-md-8 d-flex mb-3">
				<label for="searchbar" class="form-label me-2 fw-bold  mb-0" style="margin-top:5px;">Search:</label>
				<input type="text" class="form-control" placeholder="Search" id="searchbar" />
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="text-white" style="background-color: #5d835c;">
					<tr>
						<th class="text-center">DCHS</th>
						<th class="text-center">OR Number</th>
						<th class="text-center">OR Date</th>
						<th class="text-center">Last Name</th>
						<th class="text-center">First Name</th>
						<th class="text-center">Middle Name</th>
						<th class="text-center">Date of Birth</th>
						<th class="text-center">Underwriting Status</th>
						<th class="text-center">Remarks</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="9" class="text-center text-muted fst-italic">Display Search Results here</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</diiv>